@use "../../styles/abstracts/index" as *;

@include input-textarea-core;

.inputSearchIcon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  display: flex;
  align-items: center;

  color: var(--color-light-900);
}

[type="search"] {
  padding-left: 44px;
}

[type="search"]::-webkit-search-cancel-button {
  appearance: none;
}

.inputIconWrapper {
  position: relative;
}

.hidePasswordIcon, .clearInputIcon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);

  display: flex;
  align-items: center;

  color: var(--color-light-100);

  border-radius: 2px;
}

.inputError + .inputSearchIcon {
  color: var(--color-light-100);
}

input[disabled] + .hidePasswordIcon,
input[disabled] + .inputSearchIcon,
input[disabled] + .clearInputIcon {
  cursor: default;
  color: var(--color-dark-100);
}

input[disabled] + .hidePasswordIcon {
  pointer-events: none;
}

.inputPassword, .inputSearch {
  padding-right: 48px;
}

.hidePassword {
  text-overflow: clip;
}
