.button {
  all: unset;
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }
}

.primary {
  background-color: var(--color-accent-500);
}

.secondary {
  background-color: var(--color-dark-300);
}

.outlined {
  background-color: inherit;
  border: 1px solid var(--color-dark-300);
}

.fullWidth {
  width: 100%;
}
