@use "../../styles/abstracts/index" as *;

.large {
  @include typography($font-size-xxl, $line-height-m, $font-weight-semibold);
}

.h1 {
  @include typography($font-size-xl, $line-height-xxl, $font-weight-bold);
}

.h2 {
  @include typography($font-size-l, $line-height-s, $font-weight-bold);
}

.h3 {
  @include typography($font-size-m, $line-height-l, $font-weight-semibold);
}

.regular_text_16 {
  @include typography(inherit, inherit, inherit);
}

.bold_text_16 {
  @include typography(inherit, inherit, $font-weight-bold);
}

.regular_text_14 {
  @include typography($font-size-s, $line-height-xl, $font-weight-regular);
}

.medium_text_14 {
  @include typography($font-size-s, $line-height-xl, $font-weight-medium);
}

.bold_text_14 {
  @include typography($font-size-s, $line-height-xl, $font-weight-bold);
}

.small_text {
  @include typography($font-size-xs, $line-height-s, $font-weight-regular);
}

.semi-bold_small_text {
  @include typography($font-size-xs, $line-height-s, $font-weight-semibold);
}

.regular_link,
.regular_link:visited {
  @include typography($font-size-s, $line-height-xl, $font-weight-regular);

  cursor: pointer;
  color: var(--color-accent-500);
  text-decoration: underline;
}

.small_link,
.small_link:visited {
  @include typography($font-size-xs, $line-height-s, $font-weight-regular);

  cursor: pointer;
  color: var(--color-accent-500);
  text-decoration: underline;
}
