@use "../../styles/abstracts/index" as *;

.carousel {
  position: relative;
  border-radius: 2px;

  .prevButton {
    left: 12px;
  }

  .nextButton {
    right: 12px;
  }

  .prevButton,
  .nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    color: var(--color-light-100);

    background-color: rgb(51 51 51 / 50%);

    transition: 0.2s;

    &:disabled {
      pointer-events: none;
      opacity: 0;
    }
  }
}

.viewport {
  overflow: hidden;
}

.container {
  touch-action: pan-y pinch-zoom;
  display: flex;

  & * {
    flex: 0 0 100%;
    min-width: 0;
    padding-left: var(--slide-spacing);
    object-fit: cover;
  }
}

.dots {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 12px;
  align-items: center;

  padding: 8px;

  background-color: rgb(51 51 51 / 50%);
  border-radius: 2px;
}

.dot {
  width: 8px;
  height: 8px;

  background-color: var(--color-light-100);
  border-radius: 50%;

  transition: 0.2s;

  &.selected {
    background-color: var(--color-accent-500);
  }
}
