@use "../abstracts/index" as *;

html {
  box-sizing: border-box;

  font-family: $font-family-primary, sans-serif;
  font-size: 6.25%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-light-100);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: $font-size-m;
  font-weight: $font-weight-regular;
  line-height: $line-height-l;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl {
  margin-block: 0;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

input,
button,
select,
textarea,
optgroup,
option {
  font: inherit;
  color: inherit;
}

input {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:active {
  color: inherit;
}

:focus-visible {
  border-color: transparent !important;
  outline: $outline-focus;
}
